# ============================================================================
# DATA LAKEHOUSE INFRASTRUCTURE - ENVIRONMENT VARIABLES
# ============================================================================

# ----------------------------------------------------------------------------
# MINIO (Object Storage - Data Lake)
# ----------------------------------------------------------------------------
MINIO_ROOT_USER=d
MINIO_ROOT_PASSWORD=
MINIO_HOST=
MINIO_API_PORT=
MINIO_CONSOLE_PORT=
MINIO_REGION=

# Buckets (Medallion Architecture)
MINIO_BUCKET_BRONZE=
MINIO_BUCKET_SILVER=
MINIO_BUCKET_GOLD=
MINIO_BUCKET_RAW=


# ----------------------------------------------------------------------------
# AIRFLOW (Orchestrator)
# ----------------------------------------------------------------------------
AIRFLOW_HOST=
AIRFLOW_PORT=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_EMAIL=

# Airflow Database
AIRFLOW_DB_HOST=
AIRFLOW_DB_PORT=
AIRFLOW_DB_NAME=
AIRFLOW_DB_USER=
AIRFLOW_DB_PASSWORD=

# Executor e Configs
AIRFLOW__CORE__EXECUTOR=
AIRFLOW__CORE__LOAD_EXAMPLES=
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=

# Fernet Key (criptografia)
AIRFLOW__CORE__FERNET_KEY=dbausdbasudbasudbasub=

# Secret Key
AIRFLOW__WEBSERVER__SECRET_KEY=adhuashduashdsauhsakkkk

# ----------------------------------------------------------------------------
# NETWORK
# ----------------------------------------------------------------------------
DOCKER_NETWORK=

# ----------------------------------------------------------------------------
# TIMEZONE
# ----------------------------------------------------------------------------
TZ=America/Sao_Paulo